<!DOCTYPE html>
<html>
<head>
    <title>Viewing Classes</title>
    <style>
        .effects_div{
            display: none;
        }
        table a:link {
                color: #666;
                font-weight: bold;
                text-decoration:none;
        }
        table a:visited {
                color: #999999;
                font-weight:bold;
                text-decoration:none;
        }
        table a:active,
        table a:hover {
                color: #bd5a35;
                text-decoration:underline;
        }
        table {
                font-family:Arial, Helvetica, sans-serif;
                color:#666;
                font-size:12px;
                text-shadow: 1px 1px 0px #fff;
                background:#eaebec;
                margin:20px;
                border:#ccc 1px solid;

                -moz-border-radius:3px;
                -webkit-border-radius:3px;
                border-radius:3px;

                -moz-box-shadow: 0 1px 2px #d1d1d1;
                -webkit-box-shadow: 0 1px 2px #d1d1d1;
                box-shadow: 0 1px 2px #d1d1d1;
        }
        table th {
                padding:21px 25px 22px 25px;
                border-top:1px solid #fafafa;
                border-bottom:1px solid #e0e0e0;

                background: #ededed;
                background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
                background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
        }
        table th:first-child {
                text-align: left;
                padding-left:20px;
        }
        table tr:first-child th:first-child {
                -moz-border-radius-topleft:3px;
                -webkit-border-top-left-radius:3px;
                border-top-left-radius:3px;
        }
        table tr:first-child th:last-child {
                -moz-border-radius-topright:3px;
                -webkit-border-top-right-radius:3px;
                border-top-right-radius:3px;
        }
        table tr {
                text-align: center;
                padding-left:20px;
        }
        table td:first-child {
                text-align: left;
                padding-left:20px;
                border-left: 0;
        }
        table td {
                padding:18px;
                border-top: 1px solid #ffffff;
                border-bottom:1px solid #e0e0e0;
                border-left: 1px solid #e0e0e0;

                background: #fafafa;
                background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
                background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
        }
        table tr.even td {
                background: #f6f6f6;
                background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
                background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
        }
        table tr:last-child td {
                border-bottom:0;
        }
        table tr:last-child td:first-child {
                -moz-border-radius-bottomleft:3px;
                -webkit-border-bottom-left-radius:3px;
                border-bottom-left-radius:3px;
        }
        table tr:last-child td:last-child {
                -moz-border-radius-bottomright:3px;
                -webkit-border-bottom-right-radius:3px;
                border-bottom-right-radius:3px;
        }
        table tr:hover td {
                background: #f2f2f2;
                background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
                background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
        }
    </style>
</head>
<body>
    <div>To create another class, click your address bar and hit 'enter'</div>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <!--<th>Power</th>
                <th>Attacks</th>
                <th>Hit Points</th>
                <th>Physical Offense</th>
                <th>Physical Defense</th>
                <th>Special Offense</th>
                <th>Special Defense</th>
                <th>Agility</th>
                <th>Strength</th>
                <th>Intellect</th>
                <th>Awareness</th>
                <th>Willpower</th>
                <th>Persuasion</th>
                <th>Fate</th-->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            
                <% for(var i=0;i<classes.length;i++){ %>
                        <tr>
                            <form action="" method="post" enctype="multipart/form-data">
                                <td><input readonly name="name" value=<%= classes[i].name %>></input></td>
                                <td><textarea readonly name="description"><%= classes[i].description %></textarea></td>
                                <!--<td><input name="attacks" value=<%= classes[i].attacks %>></input></td>
                                <td><input name="base_max_hp" value=<%= classes[i].base.max_hp %>></input></td>
                                <td><input name="base_phys_ofn" value=<%= classes[i].base.phys_ofn %>></input></td>
                                <td><input name="base_phys_dfn" value=<%= classes[i].base.phys_dfn %>></input></td>
                                <td><input name="base_spec_ofn" value=<%= classes[i].base.spec_ofn %>></input></td>
                                <td><input name="base_spec_dfn" value=<%= classes[i].base.spec_dfn %>></input></td>
                                <td><input name="base_agility" value=<%= classes[i].base.agility %>></input></td>
                                <td><input name="base_strength" value=<%= classes[i].base.strength %>></input></td>
                                <td><input name="base_intellect" value=<%= classes[i].base.intellect %>></input></td>
                                <td><input name="base_awareness" value=<%= classes[i].base.awareness %>></input></td>
                                <td><input name="base_willpower" value=<%= classes[i].base.willpower %>></input></td>
                                <td><input name="base_persuasion" value=<%= classes[i].base.persuasion %>></input></td>
                                <td><input name="base_fate" value=<%= classes[i].base.fate %>></input></td>-->
                                <td>
                                    <input type="text" id="taskFunc" name="taskFunc" value="editClass" hidden/>
                                    <input type="submit" value="Edit Class"/>
                                </td>
                            </form>
                            <td>
                                <form action="" method="post" enctype="multipart/form-data">
                                    <input name="name" hidden value=<%- JSON.stringify(classes[i].name) %>></input>
                                    <input type="text" id="taskFunc" name="taskFunc" value="deleteClass" hidden/>
                                    <input type="submit" value="Delete Class"/>
                                </form>
                            </td>
                        </tr>
                    
                <% } %>
                
        </table>
    </div>
</body>
</html>
